@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #171614;
    --second-color: #440381;
}

html {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.main-container {
    padding: 2rem 4rem;
    background-color: var(--primary-color);
    border-radius: 1rem;
}

.info {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.nome-avatar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 30rem;
}

.avatar {
    background-color: white;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
}

.nome-avatar p{
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    font-weight: bold;
    color: white;
}

.data-hora {
    display: flex;
    flex-direction: row;
    column-gap: 4rem;
    padding-bottom: 4rem;
}

.data-hora p {
    font-size: 3rem;
    font-weight: normal;
    color: white;
}

.barra-de-pesquisa {
    display: flex;
    height: 4rem;
    background-color: white;
    border-radius: 1rem;
}

.barra-de-pesquisa input {
    width: 90%;
    border: none;
    border-radius: 1rem;
}

.icone-pesquisa {
    height: 4rem;
    width: 10%;
    margin: auto auto;
    background-color: var(--second-color);
    border-radius: 0 1rem 1rem 0;
}

.barra-de-pesquisa i {
    font-size: 2.5rem;
    color: white;
}